


p.tip span {
	font-weight:bold;
  color:#ff9955;
  border:red solid thin;
  outline-style:dotted;
  outline-color:#00ff00;
  margin : 40%;
	}
body {
  background-image: url(../images/sea-3225720_1920.jpg);
}

a:link {color:#FF0000;}    /* 未被访问的链接 */
a:visited {color:#00FF00;} /* 已被访问的链接 */
a:hover {font-size:150%;}   /* 鼠标指针移动到链接上 */
a:active {color:#0000FF;}  /* 正在被点击的链接 */


.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 45px;
  text-align: left;
  color: rgba(95, 89, 153, 0.822);
}

video.video {
 margin :40%;
}



td
  {
  position: relative;
  top: 150%;
  left:100%;
  height:50px;
  text-align:center;
  padding:9px;
  background-color:green;
  color:white;
  }
  


